<a href="https://colab.research.google.com/github/EduardoTortorella/Aulas-Logica-de-Programcao-e-Algoritmos/blob/main/Aula15052023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

TUPLAS - Uma tupla é uma coleção ordenada e imutável de elementos em Python.

In [ ]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

In [ ]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

In [ ]:
tpMeses = ('jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
tpMeses[3:6]

In [ ]:
coord = (-7.11532, -34.861) #João Pessoa

In [ ]:
ufCod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]

sorted(ufCod) # assim lista pelo alfabetico do estado...
#sorted(ufCod, key = lambda x : x[1]) # assim lista crescent pelo DDD...

[('PB', 83), ('PE', 81), ('RJ', 21), ('SP', 11)]

In [ ]:
nome_nasc = [('zé', 2003), ('maria', 1998), ('alice', 2000)] #classificar do mais novo para o mais velho
sorted(nome_nasc, key = lambda x: x[1], reverse = True)

[('zé', 2003), ('alice', 2000), ('maria', 1998)]

In [ ]:
#desempacotamento de dados

def nome_idade_uf():
  nome = "Eduardo"
  idade = 31
  uf = 'PB'
  return nome, idade, uf

name, age, uf = nome_idade_uf()


print(name, age, uf)

Eduardo 31 PB

In [ ]:
#mapeamento de valores

alunos = ('Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
notas = (5.5, 8, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))

Av1

In [ ]:
#escrever uma funcao que contenha nome e endereco 
#duas tuplas

nome2 = ('Marcos', 'Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
idade2 = (21, 55, 12, 43, 22, 7)
endereco2 = ('joakim schuller', 'epitacio pessoa', 'ruy carneiro', 'esperança', 'monteiro da franca', 'evelino f')

nomeId = tuple(zip(nome, idade2))
nomeId

enunciado.

In [ ]:
def nomeId2(tp1, tp2):
  return tp1 + tp2

a = ('Marcos', 'Kelly', 'Adauto', 'Marceline', 'Luana', 'Henrique')
b = (21, 55, 12, 43, 22, 7)

nomeId2(a,b)

enunciado

In [26]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome: {nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Marcos', 'Rua das Ostras', '42', 'Bessa')

print (formatada(dadosCliente))

Nome: Marcos, residente a Rua das Ostras, 42, Bessa.